<p>Cet outil de diagnostic se base sur la version 2024 du Référentiel général d'écoconception de services numériques (RGESN) et en reprend donc les mêmes catégories.</p>

@if (100 === globalProgression) {
    <report [score]="globalScore" [answers]="answers" />
} @else {
    <article>
        <p>
            @if (globalProgression) {
                <strong>Complétion</strong> :<br/>
                <progress [value]="globalProgression" max="100"></progress>
            }
            Il vous reste des catégories et critères à compléter, pour le moment votre niveau de conformité s'élève à : <mark>{{ globalScore|number:'1.0-0' }} %</mark>.
        </p>
    </article>
}

<div class="grid grid-2">
    @for (category of categories$|async; track category.id) {
        <article>
            <header>
                <div class="d-flex justify-between align-items-center">
                    <h3 class="mb-0">{{ category.icon }} {{ category.name }}</h3>
                    <a routerLink="/categorie/{{ category.id }}" role="button">Compléter</a>
                </div>
            </header>
            @if (0 < category.progression) {
                <div class="grid grid-2">
                    <p>Complétion : <mark>{{ category.progression|number: '1.0-0' }} %</mark></p>
                    <p>Conformité : <mark>{{ category.score|number: '1.0-0' }} %</mark></p>
                </div>
            }
            <p>{{ category.description }}</p>

        </article>
    }
</div>
