<p>Cet outil de diagnostic se base sur la version 2024 du Référentiel général d'écoconception de services numériques (RGESN) et en reprend donc les mêmes catégories.</p>

<div class="grid grid-2">
    @for (category of categories$|async; track category.id) {
        <article>
            <header>{{ category.icon }} {{ category.name }} <mark>{{ category.progression|number: '1.0-0' }} %</mark></header>
            {{ category.description }}
            <footer>
                <a routerLink="/categorie/{{ category.id }}">Compléter</a>
            </footer>
        </article>
    }
</div>
