import { Environment } from './environment.model';

export const environment: Environment = {
    name: 'production',
    storage: {
        categories: 'ECO_cat_length',
        category: 'ECO_cat_',
    },
};
