<nav class="container">
    <ul>
        <li><h1 class="mb-0"><a routerLink="/">🌱 Ecodiag</a></h1></li>
    </ul>
    <ul>
        <li class="pointer" (click)="toggleTheme()">
            @if (isLightTheme) {
                <span class="contrast" aria-label="Activer le mode sombre" data-discover="true">🌙</span>
            } @else {
                <span class="contrast" aria-label="Activer le mode clair" data-discover="true">☀️</span>
            }
        </li>
    </ul>
</nav>
<main class="container">
    <router-outlet />
</main>
