<nav class="container-fluid">
    <ul>
        <li><a routerLink="/"><strong>🌱 Ecodiag</strong></a></li>
    </ul>
    <ul>
        <li><a routerLink="/styleguide">Styleguide</a></li>
        <li class="pointer" (click)="toggleTheme()">
            @if (isLightTheme) {
                <span class="contrast" aria-label="Activer le mode sombre" data-discover="true">🌙</span>
            } @else {
                <span class="contrast" aria-label="Activer le mode clair" data-discover="true">☀️</span>
            }
        </li>
    </ul>
</nav>
<main class="container-fluid">
    <router-outlet />
</main>
