@if (category$|async; as category) {
    <h1>{{ category.icon }}{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-template [ngTemplateOutlet]="buttonsTpl" />

        Progression :
        <progress [value]="progress" max="100"></progress>

        <!-- To delete -->
        <button type="button" (click)="forceCompletion()">Compléter</button>

        @for (criterion of category.criteria; track $index) {
            <article>
                <header>
                    <mark>{{ category.id }}.{{ $index + 1 }}</mark> {{ criterion.label }}
                </header>

                <criteria-status [formControlName]="'criterion_' + criterion.id"
                                 [criterion]="{id: criterion.id, status: null}"
                                 [groupName]="'criterion_' + criterion.id"
                                 (valueChange)="change($event)" />

                <footer>
                    <details>
                        <summary class="pointer">
                            <strong>🎯 Objectifs, mise en œuvre et moyens de contrôle</strong>&nbsp;<small>(cliquez pour déplier)</small>
                        </summary>
                        <br/>
                        <strong>Objectifs</strong>
                        <blockquote [innerHTML]="criterion.purpose"></blockquote>

                        <strong>Mise en œuvre</strong>
                        <blockquote [innerHTML]="criterion.implementation"></blockquote>

                        <strong>Moyen de test ou de contrôle</strong>
                        <blockquote [innerHTML]="criterion.testing"></blockquote>

                        🔗 <a href="https://ecoresponsable.numerique.gouv.fr/publications/referentiel-general-ecoconception/critere/{{ category.id }}.{{ $index + 1 }}" target="_blank">Lien</a>
                    </details>
                </footer>
            </article>
        }

        @if (0 < progress) {
            <article>
                Le niveau de conformité pour cette catégorie est de :
                <mark>{{ score|number: '1.0-0' }} %</mark>
            </article>
        }

        <ng-template [ngTemplateOutlet]="buttonsTpl" />
    </form>
}

<ng-template #buttonsTpl>
    <div role="group">
        @if (previous) {
            <a routerLink="/categorie/{{ previous}}" role="button" class="primary">Catégorie précédente</a>
        }
        @if (hasNext) {
            <a routerLink="/" role="button" class="secondary">Retour à la liste</a>
            <button type="submit">Catégorie suivante</button>
        } @else {
            <button type="submit">Sauver et revenir à la liste</button>
        }
    </div>
</ng-template>
