@if (category$|async; as category) {
    <h1>{{ category.icon }}{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <progress [value]="progress" max="100"></progress>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
            @for (criterion of category.criteria; track $index) {
                <article>
                    <header>
                        <mark>{{ category.id }}.{{ $index + 1 }}</mark> {{ criterion.label }}
                    </header>

                    <criteria-status [formControlName]="'criterion_' + criterion.id"
                                     [criterion]="{id: criterion.id, status: null}"
                                     [groupName]="'criterion_' + criterion.id"
                                     (valueChange)="change($event)" />

                    <footer>
                        <details>
                            <summary class="pointer">
                                <strong>🎯 Objectifs et mise en œuvre</strong>&nbsp;<small>(cliquez pour déplier)</small>
                            </summary>
                            <br/>
                            <strong>Objectifs</strong>
                            <blockquote [innerHTML]="criterion.purpose"></blockquote>

                            <strong>Mise en œuvre</strong>
                            <blockquote [innerHTML]="criterion.implementation"></blockquote>

                            <strong>Moyen de test ou de contrôle</strong>
                            <blockquote [innerHTML]="criterion.testing"></blockquote>

                            🔗 <a href="https://ecoresponsable.numerique.gouv.fr/publications/referentiel-general-ecoconception/critere/{{ category.id }}.{{ $index + 1 }}" target="_blank">Lien</a>
                        </details>
                    </footer>
                </article>
            }

        <button type="submit">Suivant</button>
    </form>
}
